<div class="p-3" fxLayout="row">
  <div fxFlex="100">
    <h1>Bem vindo, {{user.name}}</h1>
    <h3>Abaixo estão os veículos que você reservou</h3>
  </div>
</div>
<div class="m-3" fxLayout="row wrap" fxLayout.md="column" rowWrap="50" fxLayoutGap="5px"
  fxLayoutAlign="space-between start">
  <mat-card class="mb-3" *ngFor="let vehicle of vehicles" fxFlex="49" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100">
    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title>{{vehicle.model}}</mat-card-title>
      <mat-card-subtitle>{{vehicle.brand}}</mat-card-subtitle>
    </mat-card-header>

    <h4>A reserva expira em {{calculateDays(vehicle.rentDate)}} dias</h4>
    <img mat-card-image [src]="vehicle.image" alt="">

    <div fxLayout="column">
      <div style="text-align: center;" fxFlex="40">
      </div>
      <div fxFlex="60">
        <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
          <div fxFlex="33" fxFlex.sm="100" fxFlex.xs="100">
            <mat-card-title style="color: gray;">
              <mat-icon style="vertical-align: text-bottom;">attach_money</mat-icon> Valor do aluguel
            </mat-card-title>
            <h3> {{vehicle.price | currency: 'BRL'}}/dia</h3>
          </div>
          <div fxFlex="33" fxFlex.sm="100" fxFlex.xs="100">
            <mat-card-title style="color: gray;">
              <mat-icon style="vertical-align: text-bottom;">toys</mat-icon> Ano do veículo
            </mat-card-title>
            <h3> {{vehicle.year}}</h3>
          </div>
          <div fxFlex="33" fxFlex.sm="100" fxFlex.xs="100">
            <mat-card-title style="color: gray;">
              <mat-icon style="vertical-align:text-bottom;">edit_road</mat-icon> Quilometragem
            </mat-card-title>
            <h3> {{vehicle.kilometers}}km</h3>
          </div>
        </div>

      </div>
    </div>
    <mat-card-actions>
      <button [disabled]="vehicle.rentedBy !== user._id" (click)="cancel(vehicle._id)" color="primary"
        mat-raised-button>CANCELAR
        RESERVA</button>
    </mat-card-actions>
  </mat-card>
</div>
<div *ngIf="vehicles.length === 0" fxLayout="row">
  <div style="text-align: center;" fxFlex="100">
    <img style="width: 50%;height: 50%;" class="mx-auto" src="\assets\undraw_my_app_re_gxtj.svg" alt="">
    <h1 class="my-4">VOCÊ NÃO POSSUI NENHUM VEÍCULO RESERVADO</h1>
    <button routerLink="/dashboard/veiculos" color="accent" mat-raised-button>RESERVAR VEÍCULOS</button>
  </div>
</div>