<div fxLayout="row">
  <div fxFlex="100">
    <h2>{{title}}</h2>
    <h5>{{message}}</h5>
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>Até quando você deseja reservar o veículo?</mat-label>
      <input [formControl]="reservationDate" matInput [matDatepicker]="picker">
      <mat-datepicker-toggle matSuffix [for]="picker">
        <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
      </mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
</div>
<div fxLayout="row">
  <div fxFlex="100">
    <button (click)="onConfirm()" color="primary" mat-raised-button>Reservar</button>

  </div>
</div>